body {
    font-family: 'Lexend Exa', sans-serif;
    background-color: #FFFFF0;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #dc3545;
}

/* Image Rotate Animation */
.rotate {
    object-fit: cover;
    transform-origin: center center;
    animation: spin 15s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Navbar Styles in Dark Mode */
body.dark-mode #navbar {
    background-color: #121212;
    border-bottom: 3px solid #555;
}

body.dark-mode #navbar .navbar-nav .nav-link {
    color: #ffffff;
}

body.dark-mode #navbar .navbar-nav .nav-link:hover {
    color: #dc3545;
}

body.dark-mode .navbar-brand {
    color: #ffffff;
}

body.dark-mode #navbar .navbar-toggler-icon {
    background-color: #ffffff;
}

body.dark-mode #navbar .navbar-toggler {
    border-color: #ffffff
}

/* Orange => color: #FF6347; 
    Danger => */